img {
	overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:90px;
    border-radius:90px;
    width:200px;
    height:200px;
    float: right;
    border: 1px solid gray;
}

html,button,input,select,textarea {
	color :#3498db;
}
html {
	font-size: 1em;
	line-height: 1.4;
	font-family: "Lato";
}

#wrapper {
	background: #ecf0f1;
	max-height: 900px;
	min-height: 320px;
	margin: auto;
	margin-right: 20 %;
	margin-left: 20 %;

}

